@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto{
  font-family: "Roboto Serif", serif;
}

.rocknroll {
  font-family: "RocknRoll One", sans-serif;
}


.custom-reusable-modal .ant-modal-content {
  border-radius: 16px !important;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.custom-reusable-modal .ant-modal-header {
  display: none; /* We use custom title instead */
}

.custom-reusable-modal .ant-modal-close {
  top: 20px;
  right: 24px;
}

